* {
    font-size: 14px;
    font-family: CaskaydiaCove NFP;
    font-weight: bold;
    min-height: 20px;
    color: #f9f5d7;
}

window#waybar {
    background: #3B4252;
    color: #f9f5d7;
}

#window {
    background: #3B4252;
    color: #f9f5d7;
}

#custom-spacer {
    padding: 0 5px;
    color: #4C566A;
}

#cava {
  padding: 0 5px;
  background: #2E3440;
  color: #3B4252;
}

#title.lt {
  background-color: #434C5E;
  color: #D8DEE9;
}

#pulseaudio.muted {
  background-color: #434C5E;
  color: #D8DEE9;
}

#battery.1 {
  padding-left: 5px;
}

#clock {
  padding-right: 5px;
}

#disk,
#clock,
#battery,
#user,
#pulseaudio,
#custom-spotify {
    background-color: #3B4252;
    color: #f9f5d7;
}

#tray {
    background-color: #434C5E;
    color: #D8DEE9;
    padding-right: 5px;
    padding-left: 5px;
}

#clock {
    background-color: #434C5E;
    color: #D8DEE9;
}

#battery.charging {
    background-color: #A3BE8C;
    color: #434C5E;
}

@keyframes blink {
    to {
        background-color: #434C5E;
        color: #BF616A;
    }
}

#battery.warning:not(.charging) {
    background: #BF616A;
    color: #434C5E;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
