* {
    font-size: 14px;
    font-family: CaskaydiaCove NFP;
    font-weight: bold;
    min-height: 20px;
    color: #FFFFFF;
}

window#waybar {
    background: #E54F5D;
    color: #FFFFFF;
}

#window {
    background: #E54F5D;
    color: #FFFFFF;
}

#custom-spacer {
    padding: 0 5px;
    color: #E54F5D;
}

#cava {
  padding: 0 5px;
  background: #1b1b1b;
  color: #E54F5D;
}

#title.lt {
  background-color: #9A1C3E;
  color: #ffffff;
}

#pulseaudio.muted {
  background-color: #9A1C3E;
  color: #ffffff;
}

#battery.1 {
  padding-left: 5px;
}

#clock {
  padding-right: 5px;
}

#disk,
#clock,
#battery,
#user,
#pulseaudio,
#custom-spotify {
    background-color: #E54F5D;
    color: #FFFFFF;
}

#tray {
    background-color: #9A1C3E;
    color: #ffffff;
    padding-right: 5px;
    padding-left: 5px;
}

#clock {
    background-color: #9A1C3E;
    color: #ffffff;
}

#battery.charging {
    background-color: #3EA290;
    color: #9A1C3E;
}

@keyframes blink {
    to {
        background-color: #9A1C3E;
        color: #899AFF;
    }
}

#battery.warning:not(.charging) {
    background: #899AFF;
    color: #9A1C3E;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
