* {
    font-size: 14px;
    font-family: CaskaydiaCove NFP;
    font-weight: bold;
    min-height: 20px;
    color: #ffffff;
}

window#waybar {
    background: #FF8C57;
    color: #ffffff;
}

#window {
    background: #FF8C57;
    color: #ffffff;
}

#custom-spacer {
    padding: 0 5px;
    color: #F77438;
}

#cava {
  padding: 0 5px;
  background: #FFBB8B;
  color: #FF8C57;
}

#title.lt {
  background-color: #BD9B61;
  color: #9F7A39;
}

#pulseaudio.muted {
  background-color: #BD9B61;
  color: #9F7A39;
}

#battery.1 {
  padding-left: 5px;
}

#clock {
  padding-right: 5px;
}

#disk,
#clock,
#battery,
#user,
#pulseaudio,
#custom-spotify {
    background-color: #FF8C57;
    color: #ffffff;
}

#tray {
    background-color: #BD9B61;
    color: #9F7A39;
    padding-right: 5px;
    padding-left: 5px;
}

#clock {
    background-color: #BD9B61;
    color: #9F7A39;
}

#battery.charging {
    background-color: #98971a;
    color: #BD9B61;
}

@keyframes blink {
    to {
        background-color: #BD9B61;
        color: #cc241d;
    }
}

#battery.warning:not(.charging) {
    background: #cc241d;
    color: #BD9B61;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
